<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1047538826256-lmiegvsc18sehigg5ff95uqtpc0kdrig.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1047538826256-lmiegvsc18sehigg5ff95uqtpc0kdrig</string>
	<key>API_KEY</key>
	<string>AIzaSyC7DKO_URPSKwpxqeHqf0yWfJB-YLHfs-g</string>
	<key>GCM_SENDER_ID</key>
	<string>1047538826256</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fanner.fannerApp</string>
	<key>PROJECT_ID</key>
	<string>fanner-cam</string>
	<key>STORAGE_BUCKET</key>
	<string>fanner-cam.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1047538826256:ios:920d2889dd60c5f7</string>
	<key>DATABASE_URL</key>
	<string>https://fanner-cam.firebaseio.com</string>
</dict>
</plist>
